@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Montserrat', sans-serif;
}

body {
  @apply min-h-screen bg-gray-100;
  font-family: 'Montserrat', sans-serif;
}

/* Custom styles */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.text-lg {
  @apply text-lg tracking-wider;
}

h1 {
  @apply text-5xl font-extrabold animate-pulse mb-4;
}

p {
  @apply text-lg tracking-wider;
}
